  <script src="https://use.typekit.net/xif5hiw.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="/js/template.js"></script>
  <footer><a class="nav_link" href="https://radiant-garden-97122.herokuapp.com">Heroku App</a></footer>
  </body>
</html>
